header
{
	background-color: #ccc;
	border: 1px solid black;
	padding: 0 1em;
}
header h1
{
	color: #ddd;
	font-family: monospace;
	font-size: 3em;
	letter-spacing: -.1em;
	margin: 0;
	text-shadow:
		 1px  1px 3px gray,
		 1px  0px 3px gray,
		 1px -1px 3px gray,
		 0px -1px 3px gray,
		-1px -1px 3px gray,
		-1px  0px 3px gray,
		-1px  1px 3px gray,
		 0px  1px 3px gray;
	white-space: nowrap;
}
header table
{
	border-collapse: collapse;
}
header table td,
header table th
{
	/*border: 1px solid black; /* for debugging */
	vertical-align: middle;
}
